.message {
  text-align:left;
  border-radius:4px;
  padding:8px;

  h3, p {
    margin:0;
    padding:0;
  }
}

.error {
  background-color:#FFAAAA;
  color:#BE0E0E;
}

.success {
  background-color:#AAFFAA;
  color:#0EBE0E;
}

.info {
  background-color:#E5E5F3;
  color:#BABAD6;
}
