.message {
  text-align:left;
  border-radius:4px;
  padding:8px;
  background-color:#EEE;
  color:#BBB;

  h3, p {
    margin:0;
    padding:0;
  }
}

.error.message {
  background-color:#FFAAAA;
  color:#BE0E0E;
}

.success.message {
  background-color:#AAFFAA;
  color:#0EBE0E;
}

.info.message {
  background-color:#E5E5F3;
  color:#BABAD6;
}
