@import 'mixins';
@import 'theme';

html, body {
  @include max;
  @include reset;
  font-family: 'Open Sans', sans-serif;  
}

input, button {
  outline:none;
}

button {
  cursor:pointer;
}

input, pre {
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
  @include reset;
}
