$theme-primary: #2AC260;
$theme-dark: #20A34F;


input {
  border:none;
  outline:none;
  padding:4px;
  background-color:#fbfbfb;
  transition-duration:0.3s;
}

input:focus {
  background-color:#fff;
  transition-duration:0.3s;
}


button {
  border:none;
  background-color:$theme-primary;
  color:#fff;
}
