@import 'reset';
@import 'mixins';
@import 'theme';
@import 'logo';
@import 'message';

$sidebar-width: 200px;
$collection-width: 300px;

body {
  background-color:#EEE;
  overflow:hidden;
}

/* Flexible width sidebar */
aside.admin.menu {
  position:absolute;
  top:0;
  left:0;
  background-color:#fff;
  height:100%;
  width:$sidebar-width;
}

/* Flexible width content area */
.view {
  @include max;
  position:relative;
  width:auto;
  margin-left:$sidebar-width; 
}

/* Menu Items */
ul.items {
  @include reset;
  list-style-type:none;  
  text-align:right;
  font-size:18pt;
  font-weight:300;
  
  li {
    -webkit-user-select:none;
    padding:4px 6px;
    border-right:solid 4px #ddd;
    transition-property:border;
    transition-duration:0.3s;    
   
    a { 
      color:#444;
      text-decoration:none;
    }
      
    &:hover {
      border-color: $theme-primary;
      cursor:pointer;
      background-color:#E0FFEA;
    }

    &:active {
      border:none;
    }
  }

}

/* Search Controls */
.search {
  position:absolute;
  width:100%;
  top:0;
  input {
    box-sizing:border-box;
    width:100%;
    padding-right:20px;
    color:#555;
  }

  i {
    color:#eee;
    position:absolute;
    top:6px;
    right:6px;
  }

}

/* Panel for collections editor */
.actions {
  margin-left:$collection-width;
  background-color:#fbfbfb; 
  height:100%;
}

/* Collection Panels */
.collection {
  position:absolute;
  top:0;
  left:0;
  width:$collection-width;
  padding-top:26px; /* Account for search */
  box-sizing:border-box;
  height:100%;
}

/* Table within collection view */
.collection table {
  width:100%;
  font-size:16pt;
  color:#666;
  border-spacing:0;
  font-weight:300; 

  thead {
    text-align:left; 
    color:$theme-primary;
  }

  td {
    padding:4px;
  }
  
  tbody tr:hover {
    cursor:pointer;
    background-color:#fdfdfd;
  }
}

.depth-1 {
  background-color:#F7F7F7;
}
