@import 'theme';
@import 'mixins';

.wrapper {
  height:100%;
}

.upload.progress {
  height:6px;
  background-color:#ccc;
  width:100%;

  .progress.bar {
    height:100%;
    width:0%;
    background-color:$theme-primary;
  }
}

.playback.track {
  padding:0;
  margin:0;
  width:auto;
  position:relative;
  height:40px;
}

.playback .controls {
  position:absolute;
  width:60px;
}

.meta {
  height:100%;
  padding-left:58px;

  .text {
    line-height:34px;
  }
}


