@import 'theme';
@import 'reset';
@import 'mixins';

.editor {
  border-left:solid 20px $theme-primary;
  padding:4px;
  background-color:#fafafa;
}

.editor h2 {
  color:#444;
  text-transform:capitalize;
}

.editor label {
  display:block;
  text-decoration:underline;
  color:#666;
}

.editor textarea {
  border:none;
  width:100%;
  outline:none;
  color:#888;
}

.editor button {
  font-size:12pt;
  padding:8px;
}
