@import 'mixins';
@import 'theme';
@import 'reset';

html, body {
  @include max;
  @include reset;
  
  background-color:#f3f3f3;
  color:#555;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom:solid 6px $theme-primary;
  font-weight:300; 
}

header {
  $banner-height:100px;
  background-color:$theme-primary;
  color:#fff;
  text-align:center;
  height:$banner-height;
  line-height:$banner-height;
}

.about {
  overflow:hidden;
}
.config {
  overflow:hidden;
}

.block {
  width:30%;
  margin:1.5%;
  float:left;
  background-color:#fff;
  border-radius:4px;
  box-shadow:0 2px 3px rgba(0,0,0,0.1);
  min-height:216px;

  h3 {
    padding:6px;
  }
  
  p {
    padding:10px;
  }
}

.footer {
  text-align:center;
}
