@import 'reset';
@import 'theme';

.bottom {
  position:absolute;
  display:block;
  bottom:0;
  left:0;
  width:100%;
  box-sizing: border-box;
}

.track {
  background-color:#fff;
  overflow:hidden;
}

.progress {
  background-color:$theme-primary;
  height:6px;
  width:100%;
}

.current {
  width:40%;
  height:100%;
  background-color:$theme-highlight;
}

.controls button {
  $button-depress:6px;
  border:none;
  margin:0;
  font-size:18pt;
  background-color:inherit;
  color:#777;
  border-bottom:solid $button-depress #AAA;
  float:left; 
 
  outline:none;
  cursor:pointer;
  position:relative;
 
  &:hover {
    color:#888;
  }
 
  &:active {
    border:none;
    border-top:solid $button-depress transparent;
  }
  
}

.controls {
  width:100%;
  overflow:hidden;
}

.console {
  height:200px;
  width:100%;
  font-family:'monospace';
  background-color:$theme-dark;
  padding:8px;
  color:#FFF;
  overflow-y:scroll;
  display:none;
}

.console .input {
  width:100%;
  outline:none;
  border:none;
  background-color:inherit;
  color:inherit;
  font:inherit;
  padding:0;
  margin:0;  

  &:before {
    content: '> ';
    color:#fff;
  }
}

.console .messages {
  @include reset;
  list-style-type:none;
  padding-bottom:4px;
}

.messages {
  .danger strong{
    color:red;
  }

  .warning strong {
    color:#E0A21C;
  }

  .info strong {
    color:#00CE84;
  }

  .chat strong {
    color: #60C0AD;
  }

  .history {
    color: #4094D6;
  }
}

.visible {
  display:block;
}
