@import 'reset';
@import 'theme';

.bottom {
  position:absolute;
  display:block;
  bottom:0;
  left:0;
  width:100%;
  box-sizing: border-box;
}

.track {
  background-color:#fff;
}

.progress {
  background-color:$theme-dark;
  height:6px;
  width:100%;
}

.current {
  width:40%;
  height:100%;
  background-color:$theme-primary;
}

.track button {
  border:none;
  margin:0;
  font-size:18pt;
  background-color:inherit;
  color:#777;
}

.console {
  height:200px;
  width:100%;
  font-family:'monospace';
  background-color:$theme-dark;
  padding:8px;
  color:#FFF;
  overflow-y:scroll;
  display:none;
}

.console .input {
  width:100%;
  outline:none;
  border:none;
  background-color:inherit;
  color:inherit;
  font:inherit;
 
  &:before {
    content: '> '
  }
}

.console .messages {
  @include reset;
  list-style-type:none;
}

.visible {
  display:block;
}
