<div class='collection depth-1'>

  <div class='search'>
    <input type='text' placeholder='Search...' 
      ng-model='search'></input>
    <i class='fa fa-search'></i>
  </div>
  
  <table ng-show='models && models.length > 0'>
    <thead>
      <tr>
        <td><!-- Shows selection caret --></td>
        <td ng-repeat='(key, value) in models[0]' ng-show='schema[key]'>
          {{key}}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='model in models | filter:search'
        ng-click='models.focus(model._id)'>
        <td>
          <i class='caret fa fa-caret-right' 
            ng-show='model._id == models.focused._id'></i>
        </td>
        
        <td ng-repeat='(key, value) in model' ng-show='schema[key]'
          ng-bind='value'> 
        </td>

      </tr>
    </tbody>
  </table>

  <div class='message' ng-hide='models.length > 0'>
    <p>No {{name}} available</p>
  </div>

</div>
