<div class='overlay' ng-class='{ hidden: showing }'>
  <div class='modal'>
    <div class='header'>
      <h2>{{title}}</h2>
    </div>
    <p>{{description}}</p>
    <div>
      <button>Ok</button>
      <button class='danger'>Cancel</button>
    </div> 
  </div>
</div>
