
<div class='prompt' ng-class='{ hidden: !showConfirmation }'>
  <div>Are you sure you want to do this?</div>
  <div>
    <button class='button radius' 
      ng-click='$scope.ok()'>Yes</button>
    <button class='button danger radius' 
      ng-click='$scope.cancel()'>No</button>
  </div>
</div>
