<ul class='messages'>
  <li ng-repeat='message in messages'>
    <div class='{{message.type}}'>
      <strong>
        <i class='fa fa-comment' ng-if='message.type === "chat"'></i>
        <i class='fa fa-exclamation-circle' ng-if='message.type === "warning"'></i>
        {{message.name}}
      </strong>
      {{message.body}}
    </div>
  </li>
</ul>

<form ng-submit='send()'>
  <input type='text' class='input' ng-model='input'></input>
</form>
