<div class='editor'>
  <h2>{{collection.name}}</h2>
  <div class='document'>
    <div ng-repeat='(key, value) in selection()'>
      <label>{{key}}</label>
      <textarea ng-model='value'></textarea>
    </div>
    <button ng-click='save()'>
      <span ng-hide='saving'>Save</span>
      <i class="fa fa-cog fa-spin" ng-show='saving'></i>
    </button>
  </div>
</div>
