<div class='editor'>
  <h2>{{collection.name}}</h2>
  <div class='document'>
    <div ng-repeat='(key, value) in model'>
      <label>{{key}}</label>
      <textarea ng-model='model[key]'></textarea>
    </div>
    <button ng-click='save()'>
      <span ng-hide='saving'>Save</span>
      <i class="fa fa-cog fa-spin" ng-show='saving'></i>
    </button>

    <button class='danger' ng-click='remove()'>
      <span ng-hide='saving'>Remove</span>
    </button>

  </div>
</div>
