<div class='notification' ng-class='{ hidden: !showNotification }'>
  <i class='fa fa-{{settings.icon}}'></i>
  <strong ng-bind='settings.name'></strong>
  <span ng-bind='settings.message'></strong>
</div>    
