<div>
  <div class='bar'>
    <select ng-model='session' ng-change='switchSession()'>
      <option ng-repeat='session in sessions'>{{session}}</option>
    </select>
  </div>
</div>

<div class='bottom'>
  <div>
    <div class='controls'>
      <button>
        <i class='fa fa-play'></i>
      </button>
      <button>
        <i class='fa fa-stop'></i>
      </button>
    </div>
    
    <span class='song-name'>Ryan Keen - See Me Now</span>
    
    <div class='progress'>
      <div class='current'></div>
    </div>
  </div>

  <div class='console' console>
    <div class='input' contentEditable></div>
  </div>

</div>
