<div class='wrapper'>

  <div class='collection depth-1'>
    <div class='search'>
      <input type='text' placeholder='Search...'></input>
      <i class='fa fa-search'></i>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Admin</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='actions'>

  </div>

</div>
