<div class='big'>
  <div collection collection-name='admins' schema='name'></div>
  <div class='actions'>
    <div editor collection-name='admins'></div>
    <div creator collection-name='admins'></div>
  </div>
</div>
