<!DOCTYPE html>
<html lang="en" ng-app='admin'>
<head>
  <meta charset="UTF-8">
  <title>Audiodrop - Admin</title>
  <link href='/css/fonts.css' rel='stylesheet' type='text/css'> 
  <link href='/components/font-awesome/css/font-awesome.min.css' 
    rel='stylesheet' type='text/css'> 
  <link rel='stylesheet' href='/css/admin.css'></link>
  <link rel='stylesheet' href='/css/sessions.css'></link>
  <link rel='stylesheet' href='/css/audio.css'></link>
  <link rel='stylesheet' href='/css/users.css'></link>
  <link rel='stylesheet' href='/css/compose.css'></link> 
  
  <script src='/components/angular/angular.js'></script>
  <script src='/components/angular-route/angular-route.js'></script>
  <script src='/build/js/admin.js'></script>
</head>
<body>
  
  <aside class='admin menu'>
    
    <div class='logo-box'>
      <h1 class='logo'>
        <span class='special'>A</span>udio<br/>drop
      </h1>
    </div>

    
    <ul class='items'>
      <li><a href="#sessions">Sessions</a></li>
      <li><a href="#audio">Audio</a></li>
      <li><a href="#users">Users</a></li>
      <li><a href="#compose">Compose</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
    </ul>
  </aside>

  <div class='view' ng-view></div>
 
</body>
</html>
