<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <title>SoundShower</title>
    <link rel="stylesheet" href="/components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/client.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-route/angular-route.js"></script>
    <script src="/components/angular-socket-io/socket.js"></script>
    <script src="/build/js/app.js"></script>
</head>
<body>
  <div ng-view></div>
</body>
</html>
