<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Audiodrop</title>
  <link rel='stylesheet' href='css/global.css'></link>
  <link rel='stylesheet' href='css/fonts.css'></link>
  <link rel='stylesheet' href='components/font-awesome/css/font-awesome.css'></link>
</head>
<body>
  <header>
    <h1>AudioDrop</h1>
  </header>
  
  <div class='content'>
    <div class='about'>
      <div class='block'>
        <h3>What is Audiodrop?</h3>
        <p>
          Audiodrop is a distributed audio platform, it creates a map of 
          the connected devices, then streams audio to each of them,
          based on their positions within the network.
        </p>
      </div>
      
      <div class='block'>
        <h3>What's it for?</h3>
        <p>
          You can use AudioDrop for everything from totally immersive audio 
          surround sound experiences, to playing a song in your office. It's
          super configurable and it's possible to create highly flexible
          tracks.
        </p>
      </div>
      
      <div class='block'>
        <h3>Where can I get it?</h3>
        <p>
          <strong>Client</strong><br/>
          You can connect to audio drop with most mobile devices! Just
          find an AudioDrop QR code or URL and enter it into your device to
          join a session.
        </p>
        <p>
          <strong>Server</strong><br/>
          Audiodrop is available for all platforms that support Node + NPM.
          Head over to <a href='http://nodejs.org'>http://nodejs.org</a> to
          See whether your machine will support it. 
        </p>
      </div>
    </div>
    
    <div class='config'>
      <div class='block'>
        <h3>Now what?</h3>
        <p>
          Install AudioDrop through NPM with the following command.<br/>
          <code>npm install audio-drop</code> 
        </p>
      </div>
      <div class='block'>
        <h3>Get Started</h3>
        <p>
          Once you've installed audio drop, you can run it by entering the 
          install location and starting the server.
          <code>cd audio-drop & node app</code>
        </p>
      </div>
      <div class='block'>
        <h3>Issues & Contributing</h3>
        <p>
          AudioDrop is still very much in beta, so it's likely that you
          may come across issues. If you do, please report them using the 
          issue tracker 
          <a href='https://github.com/code-curve/audio-wave/issues'>here</a>.
        </p>
        <p>
          If you want to contribute to AudioDrop, fork the repo and send me a 
          pull request, or just drop me a line at dan@codecurve.org and we can
          chat.
        </p>
      </div>

    </div>

    <div class='footer'>
      Designed, Developed and Released By Dan Prince
    </div>

  </div>

</body>
</html>
