<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Audiodrop</title>
  <link rel='stylesheet' href='css/global.css'></link>
</head>
<body>
  <header>
    <h1>AudioDrop</h1>
  </header>
  
  <div class='content'>
    <section class='about'>
      <div class='block'>
        <h3>What is Audiodrop?</h3>
        <p>Audiodrop is a ...</p>
      </div>
      
      <div class='block'>
        <h3>What's it for?</h3>
        <p>Can be used for ... to ...</p>
      </div>
      
      <div class='block'>
        <h3>Where can I get it?</h3>
        <p>Audiodrop is available for ...</p>
      </div>
    </section>
    
    <section class='config'>
      <div class='block'>
        <h3>Now what?</h3>
        <p>First</p>
      </div>
    </section>

    <footer>
      Designed, Developed and Released By Dan Prince
    </footer>

  </div>

</body>
</html>
