<!DOCTYPE html>
<html lang="en" ng-app='login'>
<head>
  <meta charset="UTF-8">
  <title>Audiodrop - Log In</title>
  <link rel='stylesheet' href='/components/font-awesome/css/font-awesome.css'>
  <link rel='stylesheet' href='/css/fonts.css'>
  <link rel='stylesheet' href='/css/admin.css'>
  <link rel='stylesheet' href='/css/login.css'>
</head>
<body>
  
  <div ng-controller='LoginController'>  
    <h1 class='logo'>
      <span class='special'>A</span>udio<br/>
      drop
    </h1>
    
    
    <form ng-class='{ invalid: error }'>
      <input type='text' placeholder='name' 
        ng-model='username' ng-change='change()'></input>
      <input type='password' placeholder='password'
        typing-duration='1000' after-typing='login()' 
        ng-model='password' ng-change='change()'></input>
     <div class='message error' ng-show='error'>
        <h3>{{error.name}}</h3>
        <p>{{error.message}}</p>
      </div>
    </form>
  </div>
  
  <script src='/components/angular/angular.js'></script>  
  <script src='/build/js/login.js'></script>
</body>
</html>
