input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

a {
  color: #2aa4c2; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

button.radius {
  border-radius: 5px; }

button.danger {
  background-color: #C22A2A; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif; }

input, button {
  outline: none; }

button {
  cursor: pointer; }

input, pre {
  font-family: 'Open Sans', sans-serif; }

p, h1, h2, h3, h4, h5, h6, ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

a {
  color: #2aa4c2; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

button.radius {
  border-radius: 5px; }

button.danger {
  background-color: #C22A2A; }

input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

a {
  color: #2aa4c2; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

button.radius {
  border-radius: 5px; }

button.danger {
  background-color: #C22A2A; }

.logo-box {
  position: relative;
  left: 10px; }

.logo {
  text-align: center;
  font-weight: 300;
  font-size: 24pt;
  margin: 40px 0; }
  .logo .special {
    color: #2aa4c2; }
  .logo:before {
    content: ' ';
    position: absolute;
    top: 35px;
    left: 20px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2aa4c2; }
  .logo:after {
    content: ' ';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 30px 15px;
    border-color: transparent transparent #2aa4c2 transparent; }

.message {
  text-align: left;
  border-radius: 4px;
  padding: 8px;
  background-color: #EEE;
  color: #BBB; }
  .message h3, .message p {
    margin: 0;
    padding: 0; }

.error.message {
  background-color: #FFAAAA;
  color: #BE0E0E; }

.success.message {
  background-color: #AAFFAA;
  color: #0EBE0E; }

.info.message {
  background-color: #E5E5F3;
  color: #BABAD6; }

body {
  background-color: #EEE;
  overflow: hidden; }

/* Flexible width sidebar */
aside.admin.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 200px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1); }

/* Flexible width content area */
.view {
  width: 100%;
  height: 100%;
  position: relative;
  width: auto;
  margin-left: 200px; }

.hidden {
  transition-duration: 0.3s;
  opacity: 0;
  display: none; }

/* Menu Items */
ul.items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-type: none;
  text-align: right;
  font-size: 18pt;
  font-weight: 300; }
  ul.items li {
    -webkit-user-select: none;
    border-right: solid 4px #ddd;
    transition-property: border;
    transition-duration: 0.3s; }
    ul.items li a {
      color: #444;
      padding: 4px 6px;
      text-decoration: none;
      display: block; }
    ul.items li:hover {
      border-color: #2aa4c2;
      cursor: pointer;
      background-color: #e0f9ff; }
    ul.items li:active {
      border: none; }

/* Top Control Bar */
.bar {
  background-color: #2aa4c2;
  width: auto; }

/* Search Controls */
.search {
  position: absolute;
  width: 100%;
  top: 0; }
  .search input {
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    color: #555; }
  .search i {
    color: #eee;
    position: absolute;
    top: 6px;
    right: 6px; }

.huge .actions {
  margin-left: 600px; }
.huge .collection {
  width: 600px; }

.big .actions {
  margin-left: 400px; }
.big .collection {
  width: 400px; }

.small .actions {
  margin-left: 200px; }
.small .collection {
  width: 200px; }

/* Panel for collections editor */
.actions {
  margin-left: 300px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box; }

.panel {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  padding: 8px; }

/* Collection Panels */
.collection {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding-top: 26px;
  /* Account for search */
  box-sizing: border-box;
  height: 100%;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1); }

/* Table within collection view */
.collection table {
  width: 100%;
  font-size: 12pt;
  color: #666;
  border-spacing: 0;
  font-weight: 300; }
  .collection table tr:nth-child(even) {
    background-color: #f8f8f8; }
  .collection table thead {
    text-align: left;
    color: white;
    text-transform: Capitalize;
    background-color: #2aa4c2; }
  .collection table td {
    padding: 4px; }
  .collection table tbody tr:hover {
    cursor: pointer;
    background-color: #fdfdfd; }
  .collection table tbody td {
    border-right: solid 1px #eee; }

.caret {
  color: #2aa4c2; }

.depth-1 {
  background-color: #F5F5F5; }

.overlay {
  width: 100%;
  height: 0;
  overflow: visible; }

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  z-index: 100;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.3s; }
  .notification i, .notification strong {
    color: #2aa4c2; }

.prompt {
  background-color: #f5f5f5;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 15%;
  text-align: center;
  z-index: 100;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.3s; }
  .prompt button {
    margin: 10px 0px;
    font-size: 12pt;
    padding: 2px 16px; }
