input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

a {
  color: #2aa4c2; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

button.danger {
  background-color: #C22A2A; }

.wrapper {
  height: 100%; }

.upload.progress {
  height: 6px;
  background-color: #ccc;
  width: 100%; }
  .upload.progress .progress.bar {
    height: 100%;
    width: 0%;
    background-color: #2aa4c2; }

.playback.track {
  padding: 0;
  margin: 0;
  width: auto;
  position: relative;
  height: 40px; }

.playback .controls {
  position: absolute;
  width: 60px; }

.meta {
  height: 100%;
  padding-left: 58px; }
  .meta .text {
    line-height: 34px; }
