input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

input {
  border: none;
  outline: none;
  padding: 4px;
  background-color: #fbfbfb;
  transition-duration: 0.3s; }

input:focus {
  background-color: #fff;
  transition-duration: 0.3s; }

button {
  border: none;
  background-color: #2aa4c2;
  color: #fff; }

code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream VeraSans Mono", monospace;
  background-color: #eee;
  border-radius: 4px;
  border: solid 1px #aaa; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif; }

input, button {
  outline: none; }

button {
  cursor: pointer; }

input, pre {
  font-family: 'Open Sans', sans-serif; }

p, h1, h2, h3, h4, h5, h6, ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #f3f3f3;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  border-bottom: solid 6px #2aa4c2;
  font-weight: 300; }

header {
  background-color: #2aa4c2;
  color: #fff;
  text-align: center;
  height: 100px;
  line-height: 100px; }

.about {
  overflow: hidden; }

.config {
  overflow: hidden; }

.block {
  width: 30%;
  margin: 1.5%;
  float: left;
  background-color: #fff; }
  .block h3 {
    padding: 6px; }
  .block p {
    padding: 6px; }

.footer {
  text-align: center; }
