<div class='big'>
  <div collection collection-name='audio' schema='duration|name'></div>
  <div class='actions'>
    <div playback></div>
    <div upload-audio></div>
    <div editor collection-name='audio'></div>
  </div>
</div>
