<div class='editor'>
  <h2>Upload Audio</h2>
  <div class='document'>
    <div class='files'> 
      <div ng-repeat='file in files'>
        <i class='fa fa-check success' ng-show='file.uploaded'></i>
        <i class='fa fa-times danger' ng-show='file.error'></i>
        <strong>{{file.name}}</strong>
        <strong class='danger'>{{file.error}}</strong>
        <div class='upload progress' ng-hide='file.uploaded || file.error'>
          <div class='progress bar' style='width:{{file.progress}}%'></div>
        </div>
      </div>
    </div>
    

    <div ng-file-drop="select($files)" ng-file-drag-over-class="active"
        ng-show="dropSupported" class='drop'>Drop files here</div>
   
    <div>
      <input type="file" ng-file-select="select($files)" multiple>
    </div>

    <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    
    <button ng-click='upload()'>
      <span ng-hide='uploading'>Upload</span>
      <i class="fa fa-cog fa-spin" ng-show='uploading'></i>
    </button>

    <button class='danger' ng-show='uploading' ng-click="upload.abort()">Cancel</button>
  </div>
</div>
